---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

# Bloquer les outils internes
Disallow: /dashboard-commandes/
Disallow: /delices-pos/
Disallow: /vanessa/

# Sitemap
Sitemap: https://nimara.io/sitemap.xml
